#gallery, #gallery2, #gallery3 {

}

#main-img, #main-img2, #main-img3 {
  max-height: 593px;
}

section#content header {
  margin: 2% 2%;
  text-align: center;
}

section#content header h2 {
  font-size: 3rem;
}

section#content span.byline {
  font-size: 1.5rem;
}

/* First Gallery */
ul.slides{
  overflow:hidden;
  clear:both;
  border-radius: 6px;
}

ul.slides,
ul.slides li,
ul.slides a,
ul.slides img{
  width: 792px;
  height: 523px;
  position:relative;
}

ul.slides li{
  position:absolute;
  z-index:50;
}

ul.thumbs {
  display: inline-block;
  margin: 20px 0;
}

ul.thumbs li{
  display: inline-block;
  position:relative;
  border:4px solid transparent;
  font:bold 12px/25px Arial, sans-sarif;
  color:#515151;
  text-decoration:none;
  text-shadow:1px 1px 0px rgba(255,255,255,.25), inset 1px 1px 0px rgba(0,0,0,.15);
}

ul.thumbs span{
  position:absolute;
  z-index: -1;
  bottom: 0px;
  left: 16px;
}

ul.thumbs li:hover span{
  position:absolute;
  z-index:101;
  bottom: -30px;
  left: 17px;
  display:block;
  width:100px;
  height:25px;
  text-align:center;
  border-radius:3px;
  
  -webkit-box-shadow:0px 1px 0px rgba(0,0,0,.4);
  -moz-box-shadow:0px 1px 0px rgba(0,0,0,.4);
  box-shadow:0px 1px 0px rgba(0,0,0,.4);
  
  background:#fff; /* Older Browsers */
  background:-moz-linear-gradient(top, #fff 0%, #bcbcbc 100%);
  background:-webkit-linear-gradient(top, #fff 0%, #bcbcbc 100%);
  background:-o-linear-gradient(top, #fff 0%, #bcbcbc 100%);
  background:-ms-linear-gradient(top, #fff 0%, #bcbcbc 100%);
  background:linear-gradient(top, #fff 0%, #bcbcbc 100%);
}

ul.thumbs li:hover span:before{
  width:0;
  height:0;
  border-bottom:5px solid #fff;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  content:'';
  position:absolute;
  top:-5px;
  left:44px;
}


/* End First Gallery */

/* Second Gallery */
ul.slides2{
  overflow:hidden;
  clear:both;
  border-radius: 6px;
}

ul.slides2,
ul.slides2 li,
ul.slides2 a,
ul.slides2 img{
  width: 792px;
  height: 523px;
  position:relative;
}

ul.slides2 li{
  position:absolute;
  z-index:50;
}

ul.thumbs2 {
  display: inline-block;
  margin: 20px 0;
}

ul.thumbs2 li{
  float:left;
  margin: 0 20px 10px 0;
}

ul.thumbs2 a{
  display:block;
  position:relative;
  width:85px;
  height:55px;
  border:4px solid transparent;
  font:bold 12px/25px Arial, sans-sarif;
  color:#515151;
  text-decoration:none;
  text-shadow:1px 1px 0px rgba(255,255,255,.25), inset 1px 1px 0px rgba(0,0,0,.15);
}

ul.thumbs2 img{
  border:#333 solid 1px;
}

ul.thumbs2 span{
  position:absolute;
  z-index: -1;
  bottom: 0px;
  left: 0px;
}

ul.thumbs2 li a:hover span{
  position:absolute;
  z-index:101;
  bottom: -30px;
  left: 2px;
  display:block;
  width:100px;
  height:25px;
  text-align:center;
  border-radius:3px;
  
  -webkit-box-shadow:0px 1px 0px rgba(0,0,0,.4);
  -moz-box-shadow:0px 1px 0px rgba(0,0,0,.4);
  box-shadow:0px 1px 0px rgba(0,0,0,.4);
  
  background:#fff; /* Older Browsers */
  background:-moz-linear-gradient(top, #fff 0%, #bcbcbc 100%);
  background:-webkit-linear-gradient(top, #fff 0%, #bcbcbc 100%);
  background:-o-linear-gradient(top, #fff 0%, #bcbcbc 100%);
  background:-ms-linear-gradient(top, #fff 0%, #bcbcbc 100%);
  background:linear-gradient(top, #fff 0%, #bcbcbc 100%);
}

ul.thumbs2 li a:hover span:before{
  width:0;
  height:0;
  border-bottom:5px solid #fff;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  content:'';
  position:absolute;
  top:-5px;
  left:44px;
}