@media (max-width: 480px) {
  .hero {
    height: 50vh;
  }

  #logo h1 a {
    font-size: 1.8rem;
  }

  #logo span {
    font-size: 1rem;
  }

  #nav ul {
    margin: 0;
  }

  #nav ul li {
    width: 49%;
  }

  section#content span.byline {
    font-size: 1.3rem;
  }

  #sidebar h2 {
    font-size: 1.6rem;
  }

  ul.default {
    margin: 5%;
  }

  ul.thumbs {
    text-align: center;
  }

  ul.thumbs li {
    width: 32%;
  }

}

@media (min-width: 481px ) AND (max-width: 640px) {

}

@media only screen and (min-width: 40.0625em) {

}

@media(max-width: 667px) and (orientation: landscape) {

}