#bathroom {
  clear: both;
  overflow: auto;
}

.bubble {
  text-align: center;
}

#bubbles {
  margin: 5% 0 5% 0;
}

p.bubble-title {
  font-size: 2rem;
}

#copyright {
  position: relative;
  padding: 2em 0em;
  text-align: center;
  color: rgba(255,255,255,.2);
  background: black;
}

#copyright a {
  text-decoration: none;
  color: rgba(255,255,255,.3);
}   

.divider {
  overflow: hidden;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#exterior {
  clear: both;
  overflow: auto;
}

footer {
  margin-top: 1em;
}

footer header {
  text-align: center;
}

footer header h2 {
  font-size: 2rem;
}

#footer{
  position: relative;
  background: #121212;
  color: rgba(255,255,255,.4);
  display: block;
  overflow: auto;
  padding: 1em 0;
}

#footer header h2 {
  color: #FFF;
}

#footer img {
  border-radius: 90px;
}

#header {
  background-color: black;
  width:100%;
}

.hero {
  background: #ddd url(../img/header.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#kitchen {
  clear: both;
  overflow: auto;
}

#logo {
  padding: 1em 0em 1em 0em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#logo h1 {
  color: white;
  margin: 0px;
}

#logo h1 a {
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

#logo span {
  display: block;
  padding-top: 0em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
}  

.mission-statement {
  padding: 2.3rem;
  text-align: center;
}

.mission-statement p {
  font-size: 1.3rem;
}

#nav{
  width: 100%;
  margin: 0 auto;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  text-align: center;
}
  
#nav ul {
  display: inline-block;
  padding: 0em 0em;
  border-radius: 40px;
}

#nav > ul > li {
  display: inline-block;
}

#nav > ul > li:last-child{
  padding-right: 0;
}

#nav > ul > li > a,
#nav > ul > li > span{
  display: block;
  padding: 0.3em 2.0em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1em;
  outline: 0;
  color: #FFF;
}

#nav > ul > li > a:hover {
  color: #7b7b7b;
}

#nav li.active a {
  color: #FFF;
}

#nav > ul > li > ul {
  display: none;
}

#outer-wrapper {
  background: #fff url(../img/overlay.png) repeat
}

.sectionimage img {
  width: 70%;
  border-radius: 180px;
}

p.bubble-title {
  font-size: 2rem;
}

section#content span.byline {
  font-size: 1.6rem;
}

.style1 {
  padding: 0.8em 0em;
  line-height: 1.8em;
  color: white;
  font-size: 20px;
  text-align: center;
}

.style1 h1, .style1 h3 {
  color: white;
} 

ul.thumbs {
  text-align: center;
}

.top-bar {
  background-color: black;
}

.top-bar.expanded .title-area {
  background: #000;
}

/* footer */

a#mail {
  position: relative;
  left: -285px;
  opacity: 0.2;
}

a#instagram {
  position: relative;
  right: -285px;
  opacity: 0.2;
}

.animate {
  transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
}

#mail.animate {
  left: -35px;
  opacity: 1;
}

.social {
  background-color: black;
  color: white;
  text-align: center;
  overflow: hidden;
  padding: 2% 0%;
}

.social a:hover {
  color: white;
} 

.social p {
  text-align: center;
  font-size: 1.4rem;
}

#instagram.animate {
  right: -35px;
  opacity: 1;
}